$white-color: #fff;
$gray-color: #aaa;
$light-gray-color: #ddd;

$brand-color: #13a4e9;
$neutral-color: #f8f8f8;
$success-color: #70b837;
$warning-color: #E59800;
$danger-color: #F15A00;

$button_color: black;